
.venv/

__pycache__/

resources/genres/books_description_2_clean.csv

resources/genres/books_description_clean_genres_backup.csv

resources/reviews/reviews_orig.csv

resources/reviews/reviews.csv
